<div class="container">
  <div class="form-container">
    <div class="page-header" style="text-align: left; margin-bottom: 30px;">
      <h1 style="font-size: 2rem; color: #2c3e50;">New Task</h1>
    </div>

    <%= render 'form', task: @task %>

    <%= link_to 'Back to List', tasks_path, class: 'btn btn-secondary' %>
  </div>
</div>

